/vendor/
/data/cache/*
!/data/cache/.gitkeep
/data/logs/*.log
/config.inc.php
/local.config.inc.php
/phinx_local.php
/projects/
_site/
.sass-cache/
.buildpath
.project
.settings/
.idea/
node_modules/
public/assets/
!public/assets/.gitkeep

# Semantic UI
semantic
!ui/semantic
public/ui/
