<?php

return $config = [
   'project' => [
       'name'   => 'Galette',
       'url'    => 'https://galette.eu',
        'footer_links' => [
            'Galette' => [
                'icon' => 'globe',
                'url' => 'https://galette.eu'
            ],
            'Documentation' => [
                'icon' => 'book',
                'url' => 'https://doc.galette.eu'
            ],
            'Forums' => [
                'icon' => 'comments',
                'url' => 'https://forums.galette.eu'
            ],
            'Contact' => [
                'icon' => 'pencil',
                'url' => 'http://galette.eu/site/contact'
            ]
        ],
        'social_links' => [
            'Galette source code' => [
                'icon' => 'github',
                'url' => 'https://github.com/galette'
            ],
            'Mastodon @galette@framapiaf.org' => [
                'icon' => 'mastodon',
                'url' => 'https://framapiaf.org/@galette'
            ],
            'Twitter @galette_soft' => [
                'icon' => 'twitter',
                'url' => 'https://twitter.com/galette_soft'
            ],
            'Galette on Facebook' => [
                'icon' => 'facebook',
                'url' => 'https://www.facebook.com/galettesoft'
            ],
            'Galette Reddit' => [
                'icon' => 'reddit',
                'url' => 'https://www.reddit.com/r/galette'
            ],
            'Galette Discord' => [
                'icon' => 'discord',
                'url' => 'https://discord.gg/98g2e3xka8'
            ]
        ],
        'schema' => [
            'usage' => false        ],
        'mapping' => [
            'avg_members'       => 'avg_entities',
            'avg_contributions' => 'avg_computers',
            'avg_transactions'  => 'avg_networkequipments'
        ],
        'dyn_references' => [
            'num_members' => [
                'label'         => 'Number of members',
                'short_label'   => '#members'
            ]
        ]
    ],
   'baseurl' => 'https://telemetry.galette.eu',
   'db' => [
      'driver'    => "pgsql",
      'host'      => "localhost",
      'database'  => "telemetry",
      'username'  => "user",
      'password'  => "password",
      'charset'   => 'utf8',
      'collation' => 'utf8_unicode_ci',
      'prefix'    => ''
   ],
   'recaptcha' => [
      'sitekey'   => '',
      'secret'    => ''
   ],
   'mail_admin' => '',
   'mail_from' => 'telemetry+noreply@galette.eu'
];
