parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 6
    paths:
        - app/
    ignoreErrors:
        - '/Call to an undefined static method Illuminate\\Database\\Capsule\\Manager::raw\(\)/'
