.ui.vertical.segment.page-header {
   padding: 4rem .1em;
   color: #fff;
   text-align: center;
   background-color: #25a2dd;
   background-image: url(../pics/header_bg2.png);
   background-repeat: no-repeat;
   margin-bottom: 1em;
}
.ui.vertical.segment.page-header .header {
   color: #fff;
}

.reference .ui.vertical.segment.page-header {
   background-color: #EF8E4F;
   background-image: url(../pics/header_bg3.png);
}

.ellipsis {
   max-width: 15em;
   overflow     : hidden;
   text-overflow: ellipsis;
   white-space  : nowrap;
}
