/** charts **/
.dashboard {
   margin: 0 auto;
}

.not-loaded {
   visibility: hidden;
}
.loading {
   margin: 0 auto;
   width: 200px;
}

.chart {
   width: 350px;
   padding: 5px;
}

.chart .header {
   padding: .3em;
}

.chart .header > i {
   cursor: pointer;
}

.chart .header > i:hover {
   opacity: .5;
}

.chart-2 {
   width: 700px;
}

@media (max-width: 700px) {
   .chart-2 {
      width:99%;
   }
}

.chart-2h .card-block:not(.description) {
   min-height: 420px;
}

.chart .card {
   border: none;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.chart .description {
   font-size: .8em;
   font-style: italic;
   color: rgba(0, 0, 0, .4);
}

.chart .card-block {
   padding: 3px;
}
.chart .card-block:not(.description) {
   height: 210px;
}

.chart .ct-golden-section {
   height: 100%;
}

.big-number {
   font-size: 6rem;
   line-height: 12rem;
   text-align: center;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.card-header .ui.basic.button:hover, .card-header .ui.basic.buttons .button:hover {
   background-color: #666;
}

#chart-nb_telemetry_entries,
#chart-nb_telemetry_entries .card-header {
   background-color: #BBE1C3;
   color: #1E4526;
}

#chart-nb_reference_entries,
#chart-nb_reference_entries .card-header {
   background-color: #E9B59F;
   color: #C24A19;
}

#chart-top_plugins {
   background-color: #529AA5;
}
#chart-top_plugins .header,
#chart-top_plugins .header i {
   background-color: #56ABB9;
   color: #FFF;
}

#chart-os_family,
#chart-os_family .header {
   background-color: #E9AA63;
   color: #4E3C28;
}

#chart-web_engines,
#chart-web_engines .header {
   background-color: #1A5197;
   color: #C8E0FF;
}

#chart-references_countries {
   background-color: #d1d1d1;
   color: #4F4F4F;
}

#references_countries .country_info,
#references_countries .fail_info
{
   padding: 6px 8px;
   background: white;
   background: rgba(255,255,255,0.4);
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   border-radius: 5px;
}

#references_countries .fail_info {
    font-weight: bold;
    background: red;
    background-color: rgba(255, 0, 0, .8);
    color: white;
}

.fail_info #reload_data {
    display: block;
    text-align: center;
    cursor: pointer;
}
