{% set expandable = false %}
{% if chart.expandable is defined and chart.expandable == true %}
    {% set expandable = true %}
{% endif %}
<div class="card" id="chart-{{ chart.id }}">
   <div class="header">
   {% if expandable %}
       <i class="expand alternate icon" data-dismiss="modal" aria-label="Expand"></i>
   {% endif %}
       {{ chart.title }}
   </div>
   <div class="card-block">
      <div class="ct-chart ct-golden-section"
           id="{{ chart.id }}"
           data-id="{{ chart.data }}"></div>
   </div>
</div>
