<div class="page-footer" id='footer'>
    <div class="container">

        <ul class="footer-links">
            <li>Our sites:</li>
    {% for text, link in footer_links %}
            <li>
                <a href="{{link.url}}">
                    {%- if link.faclass is defined -%}
                        <i class="{{link.faclass}}"></i>&nbsp;
                    {%- endif -%}
                    {{-text-}}
                </a>
            </li>
    {% endfor %}
        </ul>

    {% block footer %}
        <p>© 2017-2023 GLPI - © 2023 <a href="https://galette.eu">Galette</a></p>
    {% endblock %}
    </div>
</div>
